header{
  display: flex;
  justify-content:space-between;
  height:100px;
  width:90%;
  margin: 0 auto;

}
.nav-bar.sinistra a > img{
  width:100%;
  height:100px;
}
.nav-bar{
  display: flex;
  align-items: center;
}
.nav-bar a {
  text-decoration: none;

}
.nav-bar.sinistra a {
  margin-right:20px;
}
.link{
  display:flex;
}
.box-drop{
  display:flex;
  position: relative;
}
.drop-conti{
  display:none;
  position: absolute;
  text-align: center;
  border:2px solid;
  border-color:rgba(153, 153, 153, 0.1);
  width:100px;
  top:50px;
  left:-11px;
}
.drop-prodotti{
  display: none;
  position: absolute;
  width:300px;
  text-align: center;
  top:50px;
  left:-100px;
  border:2px solid;
  border-color:rgba(153, 153, 153, 0.1);

}
.drop-azienda{
  display:none;
  position: absolute;
  text-align: center;
  border:2px solid;
  border-color:rgba(153, 153, 153, 0.1);
  width:150px;
  top:50px;
  left:-30px;
}
.nav-bar.destra .drop-conti a{
  margin-left:0;
  line-height:30px;
}
.nav-bar.destra .drop-prodotti a{
  margin-left:0;
  line-height:30px;
}
.nav-bar.destra .drop-azienda a{
  margin-left:0;
  line-height:30px;
}
.nav-bar.destra a{
  margin-left:20px;
}
.nav-bar a p{
  color:black;
  opacity:0.5;
}
.nav-bar a p:hover{
  opacity:1;
}
.nav-bar.destra .hamburger {

      display:none;
}
.nav-bar.destra .hamburger a{
  color: lightgrey;
  line-height: 70px;
  font-size:30px;
}
.download{
  line-height:3;
  padding:0 15px;
  border-radius:20px;
  background-color:rgb(235, 0, 141);
  color: white;
}
@media screen and (max-width: 1090px)
{
    .link{
      display:none;
    }
    .nav-bar.destra .hamburger {
      display: block;

    }

}
